#menu-button {
  margin: 1.5vh;
  background: #ffe677;
  color: #ffffff;
  border-radius: 10vh;
  width: 9vh;
  height: 9vh;
}

#menu-button2 {
  --background-hover: #ffe677;
  --background-focused: #ffe677;
  --background-activated: #ffe677;
  --color: white;
}

#publish-button {
  --background: #ffc58e;
  --background-hover: #ffc58e;
  --background-focused: #ffc58e;
  --background-activated: #ffc58e;
  margin: 1.1vh;
  letter-spacing: 0.3vh;
  height: 6vh;
  width: 100%;
  --border-radius: 1.5vh;
  font-size: 2.3vh;
}

#menu-icon {
  font-size: 5vh;
  --color: white;
}

#bean-menu-header {
  font-size: 4vh;
  background: #6ba486;
  padding: 1.5vh;
  border-radius: 3vh 0 0 0;
}

#beanmenu {
  --background: transparent;
}

#bean-menu-button-container {
  --inner-padding-end: 0px;
  --padding-start: 0px;
}

.publish-toast {
  text-align: center;
  --background: #ffb68e;
  --color: white;
  font-size: 3vh;
}

.modal-content {
  --padding-top: 1vh;
}
