.stringbean-card {
  display: flex;
  flex-direction: column;

  --background: white;
}

.stringbean-header-container {
  --color: #fff4b7;
  --background: #89c2a3;
  font-size: 3vh;
}

.stringbean-creator {
  color: #ffffff;
  font-size: 2.2vh;
}

.stringbean-link {
  color: white;
  text-decoration: none;
}

.stringbean-card-content {
  --color: white;
  padding: 1vh;
}

.checkpoint-row {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.stringbean-header {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.list-checkpoint-col {
  flex: 10;
  padding-left: 0vh;
}

.list-favorites-col {
  flex: 1;
  display: flex;
  align-items: center;
}

.list-favorites-icon {
  font-size: 4vh;
}

.refresher-content {
  --color: #fff5ba;
  height: 12vh;
}

.refresher-pulling-icon {
  color: #fff5ba !important;
  font-size: 4vh;
}
