.tours {
  --background: red;
}

.tourname {
  --background: blue;
  text-align: center;
  font-size: 18pt;
}

.stringbean-card {
  display: flex;
  flex-direction: column;

  --background: white;
}

.stringbean-title {
  --color: #fffadc;
  --background: #89c2a3;
  font-size: 3vh;
}

.stringbean-link {
  color: white;
  text-decoration: none;
}

.stringbean-card-content {
  --color: white;
}
