.stringbean-card {
  display: flex;
  flex-direction: column;

  --background: white;
}

.stringbean-title {
  --color: #fffadc;
  --background: #89c2a3;
  font-size: 3vh;
}

.stringbean-link {
  color: white;
  text-decoration: none;
}

.stringbean-card-content {
  --color: white;
}

.checkpoint-row {
  display: flex;
  justify-content: space-between;
}

.list-checkpoint-col {
  flex: 10;
}

.list-favorites-col {
  flex: 1;
  display: flex;
  align-items: center;
}

.list-favorites-icon {
  font-size: 4vh;
}

.refresher-content {
  --color: #fff5ba;
  height: 12vh;
}

.refresher-pulling-icon {
  color: #fff5ba !important;
  font-size: 4vh;
}
