.tab2header {
  background-color: green;
  font-size: 25pt;
}

.tours {
  --background: red;
}
.list {
  background-color: yellow;
}

.tourname {
  --background: blue;
  text-align: center;
  font-size: 18pt;
}

.mainListRow {
  /* border: 1px solid red; */
  /* --ion-background-color: red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
