#search-bar {
  display: flex;
  align-items: center;
  height: 7vh;
  font-size: 2.5vh;
  padding-left: 2vh;
  padding-right: 0.7vh;
  margin: 2vh;
  --background: white;
}

.beancard {
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  margin: 2vh;
  --background: white;
}

.beanitem {
  font-size: 2.3vh;
  --background: clear;
}

#search-button {
  text-transform: none;
  font-size: 2.5vh;
  --background: #ffb68e;
  --background-hover: #ffb68e;
  --background-focused: #ffb68e;
  --background-activated: #ffb68e;
}

.modal-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ade4ca;
  padding: 3vh;
}

.modal-buttons-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-button {
  --background: #6ba486;
  --background-hover: #6ba486;
  --background-focused: #6ba486;
  --background-activated: #6ba486;
}

.modal-button-back {
  width: 30%;
  font-size: 2.5vh;
  height: 6vh;
  letter-spacing: 0.3vh;
  --background: #8bceaa;
  --background-hover: #8bceaa;
  --background-focused: #8bceaa;
  --background-activated: #8bceaa;
  margin-top: 1vh;
  margin-bottom: 0;
}

.modal-button-add {
  font-size: 3vh;
  height: 7vh;
  width: 90%;
  letter-spacing: 0.3vh;
}

.modal-info {
  background: white;
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  border-radius: 2vh;
}

.modal-image {
  max-height: 42vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.modal-info-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
}

.modal-info-text {
  font-size: 3vh;
}

.modal-name {
  font-size: 4vh;
  margin-bottom: 1vh;
}

.modal-price-dollars {
  color: green;
}

#search-spinner {
  height: 3.5vh;
  width: 3.5vh;
}

.skeleton-text {
  height: 1.7vh;
}

.skeleton-heart {
  color: #ebebeb;
}
