#search-bar {
  display: flex;
  height: 7vh;
  font-size: 2.5vh;
  padding: 1vh;
}

#search-button {
  margin: auto;
  text-transform: none;
  font-size: 2.5vh;
  --background: #ffb68e;
  --background-hover: #ffb68e;
  --background-focused: #ffb68e;
  --background-activated: #ffb68e;
}
