ion-button {
  text-transform: none;
}

ion-tab-button {
  --color: #ade4ca;
  --color-selected: #6ba486;
}

ion-tab-bar {
  height: 8vh;
  --background: #edfdf6;
}

.spinner {
  --color: #ffa676;
  display: block;
  margin: auto;
  top: 30%;
  height: 9vh;
  width: 9vh;
}

.header-font {
  font-family: "Lobster Two", cursive;
  /* font-size: 4vh; */
  color: #fff5ba;
}
.login-signup-header {
  font-size: 7vh;
}

.tab-header {
  text-align: center;
  background-color: #6ba486;
  font-size: 4.7vh;
  padding: 0;
  overflow: scroll;
}

.tab-header-block {
  height: 9vh;
}

.beancontent {
  --background: #ade4ca;
  background-color: #ade4ca;
  z-index: 0;
}
