ion-button {
  text-transform: none;
}

ion-tab-button {
  --color: #c1daa0;
  --color-selected: #64af02;
}

.spinner {
  --color: #6dd67c;
  display: block;
  margin: auto;
  top: 30%;
  height: 9vh;
  width: 9vh;
}

.header-font {
  font-family: "Lobster Two", cursive;
  font-size: 4vh;
  color: #fff5ba;
}
.login-signup-header {
  font-size: 7vh;
}

.tab-header {
  text-align: center;
  background-color: #6dd67c;
  font-size: 25pt;
  padding: 0;
  overflow: scroll;
  /* height: 10vh; */
}

.tab-header-block {
  height: 9vh;
}

.app {
  --background: #900c3f;
}
